* {
  margin: 0;
}
header h1 {
  text-align: center;
}
header a {
  text-decoration: none;
  color: aqua;
  background: grey;
  padding: 0px 100px;
}
header a:hover {
  color: yellow;
}
header h1 {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#bhead {
  text-align: center;
}
div {
}
th,
td {
  padding: 10px;
}
#lights {
  position: absolute;
}
